@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1>AlterHate</h1>
</div>

<div class="row">
    <div class="text-center">
        <h2>For all your computer parts!</h2>
    </div>
    <div class="col-md-4">
          <img src="http://study.com/cimages/multimages/16/computer_motherboard_600.jpg" width="200"/>
    </div>
    <div class="col-md-4">
        <img src="http://brain-images.cdn.dixons.com/8/7/10001978/u_10001978.jpg" width="200" />
    </div>
    <div class="col-md-4">
        <img src="http://www.laptopmag.com/images/uploads/2670/g/alienm17xr3_9524_g1.jpg" width="200" />
    </div>
</div>