
@{
    ViewBag.Title = "Productshowcase";
}

<h2>Productshowcase</h2>

<body>
    <table id="description_table">
        <!-- product description -->
        <tr id="item_name"><td>@Model.Name</td></tr>
        <tr id="item_brand"><td>@Model.Price</td></tr>
        <tr id="item_fillerspace"><td></td></tr>
    </table>
</body>