@using WebApplication3.Controllers

@{
    ViewBag.Title = "Productshowcase";
}

<h2>Productshowcase</h2>

<body>
    <table id="description_table">
        <!-- product description -->

        @foreach (var x in ProductController.products)
        {
            <tr id="item_name"><td>Name: @x.Name</td></tr>
            <tr id="item_name"><td>Catagory: @x.Catagory</td></tr>
            <tr id="item_brand"><td>Price: $@x.Price</td></tr>
            <tr id="item_name"><td>Manufactorer: @x.Manufactorer</td></tr>
            <tr id="item_fillerspace"><td></td></tr>
            <tr id="item_name"><td></td></tr>
            
        }
        

        
        
    </table>
</body>